@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url("Images/mainbg.jpg");
    height: 90vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.box {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.69);
    position: absolute;
    top: 0;
    left: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    height: 60px;
    position: relative;
    top: 10px;
}

.logo {
    height: 60px;
    width: 150px;
}

.butts {
    display: flex;
    gap: 15px;
}

.butt2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
}

.butt1 {
    background-color: rgba(36, 23, 23, 0.7);
    color: white;
    border: 1px solid white;
    width: 130px;
    border-radius: 5px;
}

.butt1 img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.butt2 {
    background-color: rgb(229, 9, 20);
    border: 1px solid rgb(229, 9, 20);
    color: white;
    border-radius: 5px;
}

@media (max-width: 950px) {
    .logo {
        height: 30px;
        width: 80px;
    }
}

@media (max-width: 900px) {
    .emailbox {
        flex-direction: column;
        align-items: center;
        min-height: auto;
        margin-bottom: 30px;
    }
    .boxcont .boxhead{
        font-size: 30px;
    }
    .butts{
        gap: 10px;
        max-width: 150px;
        height: 39px;
    }
    .butt1{
        font-size: 10px;
        font-weight: medium;
        max-width: 80px;
        text-align: center;
        padding-bottom: 6px;
    }

    .butt2{
        font-size: 10px;
        font-weight: medium;
    }

    .emailbox input {
        height: auto;
        width: auto;
        max-width: 300px;
        max-height: 200px;

    }

    .emailbutt button {
        width: auto;
        max-width: 130px;

    }

    .main2 {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }

    .main2 .main2-head {
        max-width: 90vw;
        margin-bottom: 20px;
        gap: 0px;
        height: auto;
    }

    .main2-head .main2-head1 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .main2-head .main2-head2 {
        font-size: 1.125rem;
    }

    .main2-img {
        width: 100%;
        position: static;
        transform: none;
        padding: 10px;
    }

    .main2-img img,
    .main2-img video {
        width: 100%;
        height: auto;
        max-width: 100%;
    }

    .strangerbox {
        max-width: 80vw;
        max-height: 70px;
        width: auto;
        height: auto;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .strangerbox .strangerani img {
        height: auto;
        width: 30px;
    }

    .strangerbox .strangertext1,
    .strangertext2 {
        font-size: 0.875rem;
        font-weight: 300;
        text-align: center;
        gap: 0%;
    }

    .section3 .main2 {

        display: flex;
        flex-direction: column-reverse;
    }

    .sec4-main {
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        position: relative;
        gap: 3px;

    }

    .section4 .main3-head {
        color: white;
        max-width: 100%;
        text-align: center;
        position: relative;
        width: auto;
    }

    .section4 .main3-head1 {
        font-size: 2rem;
        font-weight: 700;
    }

    .section4 .main3-head2 {
        font-size: 1.125rem;


    }

    .sec4-main .main3-head img {
        width: 200px;
    }

    .sec4-main .main3-img img {

        height: 275px;
        width: 390px;
    }

    .sec4-main .main3-img video {
        top: -63px;
        left: 77.9px;
        width: 230px;
        height: 308px;
    }

    .section5 .main2 {
        flex-direction: column;
        text-align: center;
        height: auto;
        padding: 20px;
    }
    .section6{
        height: 940px;
        
    }

    .sec6-main {
        width: auto;
        max-height: 940px;
        align-content: center;
        gap: 0px;
    }
    .sec6-main0{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .sec6-main .sec6-main1 {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        justify-content: center;
        min-width: auto;
        max-height: auto;

    }

    .sec6-main2 .grid {
        /* width: auto; */
        height: auto;
        gap: 0px;
        max-height: 432px;

    }
    .sec6-main3{
        max-height: 0px;
    }

    .sec6-main2 .grid1 {
        font-size: 1rem;
        height: 42px;
    }

    .emailbox2 {
        flex-direction: column;
        align-items: center;
        min-height: auto;
    }

    .text {
        text-align: center;
    }

    .sec6-main3 .textandemail {
        display: flex;
        gap: 0px;
        height: auto;
    }
    .emailbox2 input{
        max-width: 270px;
    }
    .sec7-main12 .grid2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(8,1fr);
        max-height: 220px;
        gap: 4px;
    }
    .sec7-main1 .griditem{
        font-size: 0.8rem;
    }
    /* .butt3 {
        width: 120px;
        border-radius: 3px;
        height: 30px;
        font-size: 0.857rem;
        font-weight: 700;
    }
    
    .butt3 img {
        width: auto;
        height: auto;
        margin-right: auto;
    } */
    
    
}

.boxcont {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 25px;
    text-align: center;
}

.boxhead {
    font-family: "Martel Sans", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
}

.boxhead2 {
    font-family: "Martel Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.boxhead3 {
    font-family: "Martel Sans", sans-serif;
    font-style: normal;
    font-size: 20px;
}

.emailbox {
    display: flex;
    gap: 10px;
}

.emailbox input {
    background-color: rgba(0, 0, 0, 0.7);
    height: 56px;
    width: 365px;
    border: 1px solid rgb(101, 95, 95);
    border-radius: 5px;
    font-weight: medium;
    font-size: larger;
    padding-left: 10px;
}

.emailbutt button {
    width: 213px;
    height: 56px;
    border: 2px solid rgb(193, 17, 25);
    border-radius: 5px;
    background-color: rgb(193, 17, 25);
    font-size: larger;
    font-weight: bold;
    color: white;
}

.seperation1 {
    height: 10px;
    background-color: rgb(35, 35, 35);
}

.main2 {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    gap: 30px;
}

.main2-head {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.main2-head1 {
    font-size: 45px;
    font-weight: 900;
    font-family: "Martel Sans", sans-serif;
}

.main2-head2 {
    font-weight: 400;
    font-family: "Martel Sans", sans-serif;
    font-size: 1.5rem;
}

.main2-img {
    position: relative;
}

.main2-img img {
    height: auto;
    width: 100%;
    max-width: 550px;
    position: relative;
    z-index: 10;
}

.main2-img video {
    height: auto;
    width: 72.7%;
    max-width: 80%;
    position: absolute;
    left: 49.5%;
    top: 47.4%;
    transform: translate(-50%, -50%);
}

.strangerbox {
    border: 2px solid rgb(88, 85, 85);
    border-radius: 0.75rem;
    padding: 8px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: flex;
    width: 305px;
    background-color: black;
    height: 100px;
    overflow: hidden;
}

.strangerimg {
    height: 71px;
    width: 51px;
    border-radius: 10px;
}

.strangerani img {
    height: auto;
    width: 60px;
}

.strangertext1 {
    color: white;
    font-size: medium;
    font-family: "Martel Sans", sans-serif;
}

.strangertext2 {
    color: #0071eb;
}

.stranger-text-ani {
    display: flex;
    align-items: center;
    gap: 39px;
    padding: 5px;
    padding-left: 10px;
}

.sec4-main {
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px;
    gap: 30px;
}

.main3-head {
    color: white;
    display: flex;
    flex-direction: column;
    max-width: 40vw;
}

.main3-head1 {
    font-size: 45px;
    font-weight: 900;
    font-family: "Martel Sans", sans-serif;
}

.main3-head2 {
    font-weight: 400;
    font-family: "Martel Sans", sans-serif;
    font-size: 1.5rem;
}

.main3-img {
    position: relative;
}

.main3-img img {
    position: relative;
    z-index: 1;
    height: 330px;
    width: 440px;
}

.main3-img video {
    position: absolute;
    top: 32px;
    left: 88px;
    width: 259px;
    height: 159px;
}

.sec6-main {
    height: 850px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
}

.sec6-main1 {
    color: white;
    font-size: 3rem;
    font-weight: 900;
    font-family: "Martel Sans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sec6-main2 {
    height: 550px;
    width: auto;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 78vw;
    height: auto;
    gap: 10px;

}

.grid1 {
    border: 1px solid rgb(45, 45, 45);
    height: auto;
    width: auto;
    padding: 10px;
    background-color: rgb(45, 45, 45);
    color: white;
    font-family: "Martel Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec6-main3 {
    display: flex;
    justify-content: center;
}

.text {
    color: white;
    margin-top: 2.85rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-size: 20px;
    font-family: "Martel Sans", sans-serif;


}

.textandemail {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.emailbox2 input {
    background-color: rgb(50, 50, 71);
    height: 40px;
    width: 330px;
    border: 1px solid rgb(101, 95, 95);
    border-radius: 5px;
    font-weight: medium;
    font-size: larger;
    color: white;
    padding-left: 10px;
}

.emailbutt2 button {
    width: 130px;
    height: 40px;
    border: 2px solid rgb(193, 17, 25);
    border-radius: 5px;
    background-color: rgb(193, 17, 25);
    font-size: medium;
    font-weight: bold;
    color: rgb(203, 190, 190);
}

.emailbox2 {
    display: flex;
    gap: 10px;
}

/* .section7 .sec7-main{
    height: 50vh;
    width: 90vw;
} */
.sec7-main1{
    font-family:"Martel Sans", sans-serif ;
    color: rgba(255, 255, 255, 0.7);
    font-size: small;
    width: 80vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    
}
.sec7-main1 a{
    font-family:"Martel Sans", sans-serif ;
    color: rgba(255, 255, 255, 0.7);
}
.grid2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    width: auto; 
    gap: 10px; 
     
}
 .sec7-main{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.sec7-main12{
    width: auto;
    
}
.griditem{
    font-family:"Martel Sans", sans-serif ;
    color: white;
    font-size: small;
}
.butt3 {
    background-color: rgba(22, 22, 22, 0.7);
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 120px;
    border-radius: 3px;
    height: 30px;
    font-size: 1rem;
    font-weight: 700;
}

.butt3 img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
